.dessert {
  display: flex;
  border: 1px solid rgb(184, 173, 173);
  padding: 5%;
  width: 80%;
  align-items: center;

  margin-bottom: 20px;
}

.dessert:hover {
  background-color: white;
}
.dessert img {
  width: 25%;
  height: 15vh;
  margin-right: 8%;
}
#little-small-image {
  height: 10vh;
}
.dessert-info p {
  font-size: larger;
}
.dessert-info span {
  display: block;
  margin-left: -60% !important;
}
/* Dessert Section ends */

/* static image section  */
.fixed-background {
  padding: 12rem 0rem;
}

.fixed {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 211, 146, 0.774)),
    url("../images/burger.jfif");
  position: fixed;
}
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.btn-lg,
.btn-lg:hover {
  text-transform: uppercase;
  font-size: 0.8rem;
  border-width: thick;
  padding: 0.1cm;
  margin-top: 0.3cm;
}
.bg-color {
  background-color: yellow;
}

#customer {
  width: 10%;
  border-radius: 50%;
  height: 10%;
}
.customer-name {
  font-size: 1.5rem;
}
.customer-review {
  font-size: 0.93rem;
  margin-right: 20% !important;
  z-index: 99;
}
.dot {
  font-size: 4rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

#gallery-img {
  width: 80%;
  height: 50%;
  border-radius: 10px;
  z-index: 1;
}
.menu-images:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.05);
}
.cursor-ptr {
  cursor: pointer;
}
/* Events Section */
.events-section {
  background-color: rgba(255, 211, 146, 0.774);
}
.parties-par {
  padding-right: 1cm;
}
/* Footer Section  */
footer {
  background-color: rgb(131, 131, 131);
}

.icons {
  color: white;
  font-size: 2.5rem;
}
footer h5,
footer p {
  color: white;
}

.description {
  padding-left: 50px !important;
  margin-top: 2%;
}
.description p {
  font-size: 0.9rem;
  padding-right: 5%;
}

#icon {
  padding-top: 1.2rem;
  padding-left: 10px;
  color: white;
}
.socket {
  border-top: 2px solid rgba(255, 211, 146, 0.774);
  background-color: rgba(255, 211, 146, 0.774) !important;
}
.socket p :hover {
  color: #ec7a09;
}
@media screen and(min-width: 992px) {
}
@media screen and (max-width: 992px) {
  .gallery-rows {
    justify-content: center;
    text-align: center;
  }
  .customer-review,
  .dot {
    margin: auto !important;
    justify-content: center;
  }
  #gallery-img {
    width: 40%;
    display: grid;
    position: relative;
    left: 30%;
  }
  .dessert p {
    font-size: 0.9rem;
    margin-left: 5%;
  }
  .dessert span {
    margin-left: 5px !important;
  }
  .parties-row {
    justify-content: center;
    text-align: center;
    margin-right: auto;
  }
  .parties-par {
    padding-right: 0cm;
  }
  footer * {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer img {
    margin: auto !important;
  }
  .description {
    padding-left: 0px !important;
  }
  .description p {
    padding-right: 0% !important;
  }
  .events-section .container {
    margin-right: auto !important;
  }
  .jumbotron .container {
    margin-right: auto !important;
  }
}
