* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
.lobster {
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
}
.gray {
  color: rgb(230, 220, 220);
}
.orange {
  color: #ec7a09;
}
.top-section {
  background-image: url("/src/images/main-burger-image.jpg");
  background-position: center;
  width: 100%;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
nav {
  background-color: rgb(0, 0, 0);
}

.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
}
.navbar-brand {
  color: white !important;
}
.active {
  color: white !important;
}
.inactive {
  color: gray !important;
}
.dropdown-menu a {
  color: black !important;
}

.orange-btn {
  background-color: #ec7a09 !important;
  border-radius: 20px !important;
  color: white !important;
}
.cart {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 5rem !important;
}
.dropdown-menu .heading {
  display: flex;
}
.cart-content {
  display: flex;
}
.cart-content img {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}
.top-text-section {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
}
#delicious {
  font-size: 0.8rem;
}
#treat {
  font-size: 5rem;
}
#description {
  position: relative;
  font-size: 1rem;
  margin: 2% 10% 2% 10%;
  z-index: 999 !important;
}

.top-icon-section {
  color: white;
  font-size: 2.5rem;
}
#icon {
  padding-top: 1.2rem;
  padding-left: 10px;
  color: white;
}

.icons {
  width: 1.52rem;
}

@media screen and (max-width: 992px) {
  .collapse button {
    width: fit-content;
    padding: 0.4rem;
    font-size: 0.8rem;
  }
  #treat {
    font-size: 3rem;
  }
  #description {
    font-size: 0.8rem;
  }
}
